.mcq .options[data-v-f90325a6]{grid-gap:.5rem;grid-template-columns:repeat(2,1fr);display:grid}.mcq .options .option[data-v-f90325a6]{grid-gap:8px;grid-template-columns:auto 1fr;gap:8px;display:grid}
